In [16]:
import pandas as pd
import numpy as np
df=pd.read_csv("D:\extracted_features_charrec_dense7.csv")
df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,class_name
0,27.630783,0.000000,51.067493,0.0,26.302004,0.000000,0.000000,0.0,0.0,0.000000,...,35.563477,8.822042,0.0,18.269510,82.596970,0.000000,0.000000,1.751286,0.0,3333
1,41.934185,0.000000,57.616398,0.0,40.345722,0.000000,0.000000,0.0,0.0,0.000000,...,33.432617,22.573324,0.0,25.266916,71.188900,0.000000,0.000000,0.000000,0.0,3333
2,59.681458,0.000000,35.450397,0.0,51.084698,0.000000,0.000000,0.0,0.0,4.531399,...,17.747238,22.295591,0.0,9.600313,39.380276,0.000000,0.000000,13.358544,0.0,3333
3,25.652845,0.000000,42.711246,0.0,26.391441,0.000000,0.000000,0.0,0.0,0.000000,...,25.998358,12.029038,0.0,19.127953,60.226376,0.000000,0.000000,0.000000,0.0,3333
4,51.862490,0.000000,25.455917,0.0,48.505250,0.000000,0.000000,0.0,0.0,0.000000,...,27.024067,1.758605,0.0,17.696215,64.634834,0.000000,0.000000,9.861172,0.0,3333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6652,0.000000,8.917019,12.606703,0.0,0.000000,23.875010,0.000000,0.0,0.0,9.403310,...,0.000000,9.477231,0.0,0.000000,46.723995,0.000000,20.901190,7.003646,0.0,3454
6653,12.088920,3.646342,28.106102,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,38.677414,0.000000,1.824834,7.562943,0.0,3454
6654,0.000000,0.000000,53.899130,0.0,0.000000,0.000000,12.079654,0.0,0.0,0.000000,...,12.388772,58.245360,0.0,0.000000,47.787598,5.880453,0.000000,3.556168,0.0,3454
6655,0.000000,0.000000,37.811558,0.0,0.000000,0.000000,8.555406,0.0,0.0,0.000000,...,7.663426,23.674717,0.0,0.000000,53.260387,3.350826,0.000000,8.673196,0.0,3454
6656,0.000000,0.000000,29.105694,0.0,0.000000,8.669491,20.568624,0.0,0.0,0.000000,...,11.354428,39.144600,0.0,0.000000,62.376480,13.449656,0.000000,10.945368,0.0,3454

In [9]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,class_name
count,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.0,6657.000000,...,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.0,6657.000000
mean,21.167244,7.914853,26.955550,0.001694,22.496025,3.155892,0.566073,0.000942,0.0,25.541555,...,4.556751,18.894252,0.001973,10.986298,25.483393,0.853183,21.327060,17.278656,0.0,3365.858194
std,21.048915,11.119147,34.284395,0.044561,24.870716,9.028120,3.395978,0.040107,0.0,35.277036,...,11.053910,26.166480,0.075321,13.966302,28.379510,3.459574,29.444840,20.342259,0.0,24.817513
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3333.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3353.000000
50%,16.735703,2.248540,16.052292,0.000000,15.782615,0.000000,0.000000,0.000000,0.0,10.701322,...,0.000000,8.076521,0.000000,5.125904,17.266066,0.000000,9.578491,9.162153,0.0,3362.000000
75%,34.614826,11.951107,40.553830,0.000000,37.320180,0.000000,0.000000,0.000000,0.0,38.489910,...,0.821449,27.168510,0.000000,18.787160,43.938200,0.000000,30.630342,28.160164,0.0,3374.000000
max,113.655290,58.710968,194.724120,1.568933,149.866410,73.601400,34.719303,2.378994,0.0,192.633940,...,74.291320,168.736980,4.984689,79.050310,171.163060,34.583378,147.329130,92.224130,0.0,3454.000000

In [22]:
means=df.mean()

means

0               21.167244
1                7.914853
2               26.955550
3                0.001694
4               22.496025
                 ...
60               0.853183
61              21.327060
62              17.278656
63               0.000000
class_name    3365.858194
Length: 65, dtype: float64

In [11]:
df.std()

0             21.048915
1             11.119147
2             34.284395
3              0.044561
4             24.870716
                ...
60             3.459574
61            29.444840
62            20.342259
63             0.000000
class_name    24.817513
Length: 65, dtype: float64

In [30]:
cen1=means.loc['1']
cen2=means.loc['2']

dis = np.linalg.norm(cen1 - cen2)

print(f" {dis:.2f}")

 19.04

In [38]:

s = df.class_name.iloc[0:152].mean()
s

3333.0194805194806

In [40]:
s1 = df.class_name.iloc[153:288].mean()
s1

3334.0074074074073

In [41]:
dis = np.linalg.norm(s1 - s)

print(f" {dis:.2f}")

 0.99

In [42]:
s3 = df.class_name.iloc[289:440].mean()
s3

3335.0132450331125

In [43]:
s4 = df.class_name.iloc[441:591].mean()
s4

3337.0333333333333

In [44]:
s5 = df.class_name.iloc[592:748].mean()
s5

3342.00641025641

In [45]:
s6 = df.class_name.iloc[749:892].mean()
s6

3343.020979020979

In [55]:
s7 = df.class_name.iloc[1234:1361].mean()
s7

3350.0078740157483

In [56]:
s8 = df.class_name.iloc[1362:1513].mean()
s8

3351.0066225165565

In [58]:
s9 = df.class_name.iloc[1514:1619].mean()
s9

3352.0095238095237

In [59]:
s10 = df.class_name.iloc[1620:1768].mean()
s10

3353.0067567567567

In [60]:
s11 = df.class_name.iloc[1768:1939].mean()
s11

3354.0058479532163

In [61]:
s12 = df.class_name.iloc[1940:2065].mean()
s12

3355.008

In [62]:
s13 = df.class_name.iloc[2066:2223].mean()
s13

3356.0063694267515

In [63]:
s14 = df.class_name.iloc[2224:2341].mean()
s14

3357.008547008547

In [64]:
s15 = df.class_name.iloc[2342:2455].mean()
s15

3358.008849557522

In [65]:
s16 = df.class_name.iloc[2456:2719].mean()
s16

3359.0038022813687

In [66]:
s17 = df.class_name.iloc[2710:3015].mean()
s17

3359.977049180328

In [67]:
s18 = df.class_name.iloc[3016:3303].mean()
s18

3361.0034843205576

In [68]:
s18 = df.class_name.iloc[3304:3591].mean()
s18

3362.0034843205576

In [69]:
s19 = df.class_name.iloc[3592:3827].mean()
s19

3363.004255319149

In [70]:
s20 = df.class_name.iloc[3827:3981].mean()
s20

3364.0064935064934

In [71]:
s20 = df.class_name.iloc[3982:4090].mean()
s20

3365.009259259259

In [72]:
s21 = df.class_name.iloc[4091:4215].mean()
s21

3366.0080645161293

In [73]:
s22 = df.class_name.iloc[4216:4321].mean()
s22

3367.0095238095237

In [74]:
s23 = df.class_name.iloc[4322:4466].mean()
s23

3368.0138888888887

In [75]:
s24 = df.class_name.iloc[4467:4595].mean()
s24

3370.015625

In [76]:
s25 = df.class_name.iloc[4596:4687].mean()
s25

3371.010989010989

In [77]:
s26 = df.class_name.iloc[4688:4787].mean()
s26

3372.010101010101

In [78]:
s27 = df.class_name.iloc[4788:4901].mean()
s27

3373.008849557522

In [79]:
s28 = df.class_name.iloc[4902:5015].mean()
s28

3374.008849557522

In [80]:
s29 = df.class_name.iloc[5015:5163].mean()
s29

3375.0135135135133

In [81]:
s30 = df.class_name.iloc[5164:5310].mean()
s30

3376.0068493150684

In [82]:
s31 = df.class_name.iloc[5310:5427].mean()
s31

3377.008547008547

In [84]:
s32 = df.class_name.iloc[5428:5558].mean()
s32

3378.007692307692

In [85]:
s33 = df.class_name.iloc[5559:5653].mean()
s33

3379.0

In [86]:
s34 = df.class_name.iloc[5657:5743].mean()
s34

3380.0116279069766

In [87]:
s35 = df.class_name.iloc[5744:5891].mean()
s35

3381.0068027210887

In [88]:
s36 = df.class_name.iloc[5892:5984].mean()
s36

3382.0108695652175

In [89]:
s36 = df.class_name.iloc[5985:6089].mean()
s36

3383.0096153846152

In [90]:
s36 = df.class_name.iloc[6090:6200].mean()
s36

3384.009090909091

In [91]:
s36 = df.class_name.iloc[6201:6288].mean()
s36

3385.7471264367814

In [92]:
s37 = df.class_name.iloc[6289:6352].mean()
s37

3450.0158730158732

In [93]:
s38 = df.class_name.iloc[6353:6412].mean()
s38

3451.0169491525426

In [94]:
s39 = df.class_name.iloc[6413:6490].mean()
s39

3452.012987012987

In [95]:
s40 = df.class_name.iloc[6491:6578].mean()
s40

3453.0114942528735

In [102]:
s41 = df.class_name.iloc[  6579:6658 ].mean()
s41

3454.0

NameError: name 'dt' is not defined